/* --- Sidebar alap --- */
header {
  height: 10vh;
}

header nav.sidenav {
  position: fixed;
  top: 0;
  left: 0;

  width: 240px;
  height: 100vh;

  background: #f5f5f5;
  border-right: 1px solid #ddd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  box-sizing: border-box;
}

/* --- listák reset --- */
header nav.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* --- Felső rész (cím) --- */
header nav.sidenav ul:first-child {
  margin-bottom: 30px;
}

/* --- Menü linkek egymás alatt --- */
header nav.sidenav ul:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* --- Link stílus --- */
header nav.sidenav a {
  display: block;
  padding: 10px 12px;

  text-decoration: none;
  color: #333;

  border-radius: 8px;
  transition: 0.2s;
}

/* Hover */
header nav.sidenav a:hover {
  background: #e6e6e6;
}

/* Aktív NavLink */
header nav.sidenav a.active {
  background: #d9d9d9;
  font-weight: bold;
}

.headnav {
  position: fixed;
  top: 0;
  left: 240px; /* ugyanannyi mint a sidenav szélessége */
  right: 0;

  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;

  z-index: 1000;
}

/* LOGO */
.headnav p {
  margin: 0;
  font-size: 18px;
  color: #222;
}
